  <!-- SECTION BANNER -->
  <div class="section-banner">
    <!-- SECTION BANNER ICON -->
    <!-- <img class="section-banner-icon" src="assets/vecimarket/img/banner/marketplace-icon.png" alt="marketplace-icon"> -->
    <img class="section-banner-icon" 
     srcset="assets/vecimarket/img/banner/marketplace-icon.webp?type=image/webp 1x,
             assets/vecimarket/img/banner/marketplace-icon.png?type=image/png 1x,
             assets/vecimarket/img/banner/marketplace-icon.jpg?type=image/jpeg 1x" 
     alt="marketplace-icon">
    <!-- /SECTION BANNER ICON -->

    <!-- SECTION BANNER TITLE -->
    <p class="section-banner-title">Administrador de tienda</p>
    <!-- /SECTION BANNER TITLE -->

    <!-- SECTION BANNER TEXT -->
    <p class="section-banner-text">Gestiona productos y pedidos en tu tienda online!</p>
    <p class="section-banner-text"></p>
    <!-- /SECTION BANNER TEXT -->
  </div>
  <!-- /SECTION BANNER -->